<div class="modal fade" tabindex="-1" role="dialog" id='properties-modal' ng-controller="propertiesCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Element Properties</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="graph-type">Select type of graph</label>
                            <select name="graph-type" id="graph-type" ng-options="option.name for option in data.availableGraphs track by option.id" ng-model="data.selectedOption" ng-change="graphOptionChanged()"></select>
                        </div>
                    </div>
                </div>
                <div class="row divider">
                    <!--This is a divider to seggregate the select and properties-->
                </div>
                <div class="row">
                    <!-- Row 1-->
                    <div class="col-sm-12">
                        <p id="props-header">Set the properties of graph</p>
                    </div>
                    <!-- Row 1 End-->

                    <!-- Row 2-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-title">Chart title</label>
                            <input type="text" class="form-control" id="chart-title" ng-model="chartConfig.chartTitle" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-height">Chart height</label>
                            <input type="text" class="form-control" id="chart-height" ng-model="chartConfig.chartHeight" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-x-axis">Chart x-axis</label>
                            <input type="text" class="form-control" id="chart-x-axis" ng-model="chartConfig.chartXAxis" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-y-axis">Chart y-axis</label>
                            <input type="text" class="form-control" id="chart-y-axis" ng-model="chartConfig.chartYAxis" />
                        </div>
                    </div>
                    <!-- Row 2 End-->

                    <!-- Row 3-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-title">Chart subtitle</label>
                            <input type="text" class="form-control" id="chart-title" ng-model="chartConfig.chartSubTitle" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-title">Chart caption</label>
                            <input type="text" class="form-control" id="chart-title" ng-model="chartConfig.chartCaption" />
                        </div>
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-title">Chart title</label>
                            <input type="text" class="form-control" id="chart-title" ng-model="chartTitle" value="Lorem ipsum."/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="chart-title">Chart title</label>
                            <input type="text" class="form-control" id="chart-title" ng-model="chartTitle" value="Lorem ipsum."/>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->